.about nav {
  display: flex;
  gap: 1rem;
  padding: 1rem 3rem;
  border-top: 2px solid #D3D3D3;
}
.about nav a {
  text-decoration: none;
  color: inherit;
}
.about .header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about .header .header-image {
  width: 80%;
  position: relative;
}
.about .header .header-image img {
  width: 100%;
}
.about .header .header-image h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  font-size: 8rem;
  font-weight: lighter;
  color: #FF764D;
}
.about .header .header-text {
  width: 45%;
  padding-block: 5rem;
}
.about .header .header-text h2 {
  font-size: 1.5rem;
  font-weight: lighter;
  padding-bottom: 1rem;
}
.about .header .header-text h2 a {
  text-decoration: none;
  color: #0000FF;
}
.about .header .header-image2 {
  height: 100vh;
  display: flex;
  position: relative;
}
.about .header .header-image2 .image2-first {
  width: 40%;
}
.about .header .header-image2 .image2-first img {
  width: 40%;
  aspect-ratio: 1/1;
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translateY(-50%) translateX(-50%);
  -o-object-fit: cover;
     object-fit: cover;
}
.about .header .header-image2 .image2-second {
  background-color: rgba(255, 255, 0, 0.8039215686);
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about .header .header-image2 .image2-second img {
  width: 55%;
}
.about .header .header-video {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}
.about .header .header-video a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: inherit;
}
.about .header .header-video a figure div {
  position: relative;
}
.about .header .header-video a figure div img {
  width: 100%;
}
.about .header .header-video a figure div span {
  color: #0000FF;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}
.about .header .header-video a figure figcaption {
  font-size: 0.8rem;
  padding-left: 1rem;
}
.about .header .header-image3 {
  height: 100vh;
  display: flex;
  position: relative;
}
.about .header .header-image3 .image3-first {
  width: 60%;
  background-color: #B6FFC0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}
.about .header .header-image3 .image3-first div {
  width: 50%;
}
.about .header .header-image3 .image3-first div img {
  width: 100%;
}
.about .header .header-image3 .image3-second {
  width: 40%;
}
.about .header .header-image3 .image3-second img {
  width: 40%;
  aspect-ratio: 1/1;
  position: absolute;
  top: 50%;
  right: 30%;
  transform: translateY(-50%) translateX(50%);
  -o-object-fit: cover;
     object-fit: cover;
}
.about .header .header-image4 {
  width: 85%;
}
.about .header .header-image4 img {
  width: 100%;
}
.about .header .header-image5 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
}
.about .header .header-image5 .image5-container {
  background-color: #D5D3FF;
  width: 60%;
}
.about .header .header-image5 .image5-container .image5-first img {
  width: 30%;
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translateY(-50%) translateX(-50%);
  -o-object-fit: cover;
     object-fit: cover;
}
.about .header .header-image5 .image5-container .image5-second img {
  width: 50%;
  position: absolute;
  top: 50%;
  right: 30%;
  transform: translateY(-50%) translateX(50%);
  -o-object-fit: cover;
     object-fit: cover;
}
.about .header .header-image6 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.about .header .header-image6 div {
  width: 80%;
  display: flex;
}
.about .header .header-image6 div .image6 {
  width: 60%;
}
.about .header .header-image6 div .image6 img {
  width: 100%;
}
.about .header .header-image6 div .image6-text {
  width: 40%;
  background-color: #D5D3FF;
  display: flex;
  padding: 2rem;
  justify-content: center;
  align-items: center;
}
.about .header .header-image6 div .image6-text div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.about .header .header-image6 div .image6-text div h2 {
  font-size: 1.5rem;
  font-weight: lighter;
}
.about .header .header-image6 div .image6-text div a {
  text-decoration: none;
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  color: #0000FF;
}/*# sourceMappingURL=about.css.map */