@import "variables";

.home {
    .first {
        position: relative;
        a {
            text-decoration: none;
            color: white;
            img {
                width: 100%;
            }
            .first-text {
                position: absolute;
                top: 15%;
                left: 10%;
                h2 {
                    font-size: 5rem;
                    font-weight: lighter;
                }
                a {
                    text-decoration: underline;
                    font-size: 2rem;
                }
            }
        }
    }

    .second {
        padding: 7rem 7rem 0;
        .latest {
            padding-bottom: 5rem;
            nav {
                display: flex;
                align-items: center;
                padding-bottom: 3rem;
                h2 {
                    width: 50%;
                }
                div {
                    width: 50%;
                    display: flex;
                    gap: 2rem;
                    justify-content: flex-end;
                    a {
                        text-decoration: none;
                        color: $deepblue;
                        display: flex;
                        align-items: center;
                    }
                }
            }
            div {
                display: flex;
                justify-content: space-between;
                div {
                    width: (100% /3.3);
                    display: flex;
                    gap: 1rem;
                    flex-direction: column;
                    a {
                        text-decoration: none;
                        color: inherit;
                        img {
                            width: 100%;
                            aspect-ratio: 1.8/1;
                            //padding-bottom: 1rem;
                        }
                        span {
                            background-color: red;
                            width: fit-content;
                            padding: 0.3rem;
                        }
                        p {
                            padding: 1rem 0;
                        }
                    }
                }
            }
        }
    }

    .third {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $lightgray;
        padding-block: 5rem;
        font-size: 1.5rem;
        div {
            display: flex;
            gap: 1rem;
            width: 60%;
            nav {
                width: 80%;
                display: flex;
                justify-content: space-between;
                a {
                    text-decoration: none;
                    color: $deepblue;
                }
            }
        }
    }
}