.live .live-nav {
  display: flex;
  gap: 1rem;
  padding: 1rem 3rem;
  border-top: 2px solid #D3D3D3;
}
.live .live-nav a {
  text-decoration: none;
  color: inherit;
}
.live .live-nav a:last-child {
  color: #0000FF;
}
.live header .header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-block: 8rem;
}
.live header .header h1 {
  font-size: 7rem;
  font-weight: lighter;
}
.live header .header a {
  display: flex;
  gap: 1rem;
  align-items: center;
  font-size: 1.5rem;
  text-decoration: none;
  color: #0000FF;
}
.live header .header-video {
  position: relative;
}
.live header .header-video figure div video {
  width: 100%;
}
.live header .header-video figure figcaption {
  position: absolute;
  top: 10%;
  left: 10%;
  color: white;
  font-size: 3.5rem;
  width: 30%;
  line-height: 150%;
}
.live header .header-video figure figcaption span {
  color: black;
  background-color: white;
  padding: 1rem;
  border-radius: 5rem;
}
.live .find-live div {
  display: flex;
  flex-direction: column;
}
.live .find-live div .find-live-heading {
  display: flex;
  justify-content: center;
  align-items: center;
}
.live .find-live div .find-live-heading h2 {
  padding: 7rem;
  font-size: 2.5rem;
  font-weight: lighter;
}
.live .find-live div .find-live-video {
  display: flex;
  justify-content: center;
  align-items: center;
}
.live .find-live div .find-live-video a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: inherit;
}
.live .find-live div .find-live-video a figure {
  width: 85%;
}
.live .find-live div .find-live-video a figure div {
  position: relative;
}
.live .find-live div .find-live-video a figure div img {
  width: 100%;
}
.live .find-live div .find-live-video a figure div span {
  color: #0000FF;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}
.live .find-live div .find-live-video a figure figcaption {
  font-size: small;
  padding: 0.5rem;
}
.live .find-live div .find-live-link {
  padding: 7rem;
}
.live .find-live div .find-live-link .find-live-text h2 {
  padding-bottom: 3rem;
  font-size: 2.5rem;
  font-weight: lighter;
}
.live .find-live div .find-live-link .find-live-nav {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.live .find-live div .find-live-link .find-live-nav nav {
  display: flex;
  gap: 1rem;
}
.live .find-live div .find-live-link .find-live-nav nav a {
  text-decoration: none;
  color: #0000FF;
}
.live .ideas {
  background-color: #FBFFA7;
}
.live .ideas div .ideas-heading h2 {
  padding: 7rem;
  font-size: 5rem;
  font-weight: lighter;
}
.live .ideas div .ideas-video {
  display: flex;
  justify-content: center;
  align-items: center;
}
.live .ideas div .ideas-video a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: inherit;
}
.live .ideas div .ideas-video a figure {
  width: 85%;
}
.live .ideas div .ideas-video a figure div {
  position: relative;
}
.live .ideas div .ideas-video a figure div img {
  width: 100%;
}
.live .ideas div .ideas-video a figure div span {
  color: #0000FF;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}
.live .ideas div .ideas-video a figure figcaption {
  font-size: small;
  padding: 0.5rem;
}
.live .ideas div .ideas-text {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6rem;
}
.live .ideas div .ideas-text .live-options-features {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.live .ideas div .ideas-text .live-options-features div {
  width: 45%;
}
.live .ideas div .ideas-text .live-options-features div h2 {
  font-weight: lighter;
  font-size: 2rem;
}
.live .ideas div .ideas-text .live-options-features div p {
  padding-block: 1rem;
  font-size: 1.1rem;
}
.live .ideas div .ideas2 {
  padding: 3rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.live .ideas div .ideas2 div {
  width: 60%;
  display: flex;
  gap: 10%;
}
.live .ideas div .ideas2 div .ideas2-image {
  width: 50%;
}
.live .ideas div .ideas2 div .ideas2-image img {
  width: 100%;
}
.live .ideas div .ideas2 div .ideas2-text {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.live .ideas div .ideas2 div .ideas2-text h2 {
  font-size: 1.5rem;
  font-weight: lighter;
}
.live .ideas div .ideas3 {
  display: flex;
  padding-block: 6rem;
}
.live .ideas div .ideas3 .ideas3-text {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.live .ideas div .ideas3 .ideas3-text div {
  width: 60%;
}
.live .ideas div .ideas3 .ideas3-text div h2 {
  font-size: 1.5rem;
  font-weight: lighter;
}
.live .ideas div .ideas3 .ideas3-video {
  width: 60%;
}
.live .ideas div .ideas3 .ideas3-video a {
  text-decoration: none;
  color: inherit;
}
.live .ideas div .ideas3 .ideas3-video a figure div {
  position: relative;
}
.live .ideas div .ideas3 .ideas3-video a figure div img {
  width: 100%;
}
.live .ideas div .ideas3 .ideas3-video a figure div span {
  color: #0000FF;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}
.live .live-options div {
  display: flex;
  flex-direction: column;
}
.live .live-options div .live-options-heading {
  display: flex;
  justify-content: center;
  align-items: center;
}
.live .live-options div .live-options-heading h2 {
  padding: 7rem;
  font-size: 2.5rem;
  font-weight: lighter;
}
.live .live-options div .live-options-video {
  display: flex;
  justify-content: center;
  align-items: center;
}
.live .live-options div .live-options-video a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: inherit;
}
.live .live-options div .live-options-video a figure {
  width: 85%;
}
.live .live-options div .live-options-video a figure div {
  position: relative;
}
.live .live-options div .live-options-video a figure div img {
  width: 100%;
}
.live .live-options div .live-options-video a figure div span {
  color: #0000FF;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}
.live .live-options div .live-options-video a figure figcaption {
  font-size: small;
  padding: 0.5rem;
}
.live .live-options div .live-options-text {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6rem;
}
.live .live-options div .live-options-text .live-options-features {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.live .live-options div .live-options-text .live-options-features div {
  width: 45%;
}
.live .live-options div .live-options-text .live-options-features div h2 {
  font-weight: lighter;
  font-size: 2rem;
}
.live .live-options div .live-options-text .live-options-features div p {
  padding-block: 1rem;
  font-size: 1.1rem;
}
.live .learn-more {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 7rem;
}
.live .learn-more button {
  width: 100%;
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  font-size: 1.5rem;
  color: #0000FF;
  background-color: transparent;
  border: 2px solid #0000FF;
}
.live .learn-more-text {
  display: flex;
  padding: 6rem;
  justify-content: space-between;
}
.live .learn-more-text div {
  width: 45%;
}
.live .learn-more-text div img {
  width: 100%;
}
.live .learn-more-text div div {
  width: 100%;
}
.live .learn-more-text div div h2 {
  padding-block: 2rem;
  font-weight: lighter;
  font-size: 1.5rem;
}
.live .surprise {
  padding: 7rem;
}
.live .surprise .surprise-heading h2 {
  font-size: 5rem;
  font-weight: lighter;
  padding-bottom: 5rem;
}
.live .surprise .surprise-heading img {
  width: 100%;
}
.live .surprise .lose {
  padding-top: 5rem;
}
.live .surprise .lose h2 {
  padding-bottom: 2rem;
  font-size: 2rem;
  font-weight: lighter;
}
.live .surprise .lose p {
  padding-bottom: 2rem;
  width: 50%;
  font-size: 1.1rem;
}
.live .surprise .lose figure {
  margin-bottom: 2rem;
}
.live .surprise .lose figure img {
  width: 70%;
}
.live .surprise .lose figure figcaption {
  font-size: 0.8rem;
}
.live .surprise .add-get {
  padding-top: 5rem;
}
.live .surprise .add-get h2 {
  padding-bottom: 2rem;
  font-size: 2rem;
  font-weight: lighter;
}
.live .surprise .add-get p {
  padding-bottom: 2rem;
  width: 50%;
  font-size: 1.1rem;
}
.live .surprise .add-get .first {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.live .surprise .add-get .first div {
  background-color: #0000FF;
  color: white;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.2rem;
}
.live .surprise .add-get .first img {
  width: 50%;
}
.live .surprise .add-get .first figcaption {
  font-size: 0.8rem;
}
.live .surprise .add-get .second {
  margin-bottom: 2rem;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.live .surprise .add-get .second div {
  background-color: #0000FF;
  color: white;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.2rem;
}
.live .surprise .add-get .second img {
  width: 70%;
}
.live .surprise .add-get .second figcaption {
  font-size: 0.8rem;
}
.live .surprise .add-get button {
  width: 100%;
  padding: 1rem;
  font-size: 1.5rem;
  background-color: transparent;
  border: 2px solid #0000FF;
  color: #0000FF;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.live .surprise .add-get .hidden {
  padding-top: 3rem;
}
.live .surprise .final {
  padding-top: 5rem;
  display: grid;
  gap: 10rem;
  grid-template-columns: 1fr 1fr;
}
.live .surprise .final .final-container h2 {
  padding-bottom: 2rem;
  font-size: 2rem;
  font-weight: lighter;
}
.live .surprise .final .final-container .final-image {
  position: relative;
}
.live .surprise .final .final-container .final-image img {
  width: 100%;
}
.live .surprise .final .final-container p {
  font-size: 1.1rem;
  line-height: 150%;
}
.live .surprise .final .final-container .final-button {
  background-color: #0000FF;
  color: white;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.2rem;
  position: absolute;
  left: 0;
  bottom: 0.5%;
}
.live article {
  padding: 7rem 0;
  background-color: #D5D3FF;
}
.live article h2 {
  font-size: 4rem;
  font-weight: lighter;
  padding: 0 7rem 7rem;
}
.live article .article-first div {
  padding-bottom: 5rem;
  display: flex;
}
.live article .article-first div img {
  width: 60%;
}
.live article .article-first div div {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 7rem;
}
.live article .article-first div div h3 {
  font-size: 1.8rem;
  font-weight: lighter;
  padding-bottom: 1rem;
}
.live article .article-second {
  padding: 0 7rem;
}
.live article .article-second img {
  width: 100%;
}
.live article .article-second .inner-second {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10rem;
  padding-block: 3rem;
}
.live article .article-second .inner-second div {
  display: flex;
  flex-direction: column;
}
.live article .article-second .inner-second div h3 {
  font-size: 1.8rem;
  font-weight: lighter;
  padding-bottom: 1rem;
}
.live article .article-third {
  padding: 0 7rem;
}
.live article .article-third a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: inherit;
}
.live article .article-third a figure div {
  position: relative;
}
.live article .article-third a figure div img {
  width: 100%;
}
.live article .article-third a figure div span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  color: #0000FF;
}
.live article .article-third .inner-second {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10rem;
  padding-block: 3rem;
}
.live article .article-third .inner-second div {
  display: flex;
  flex-direction: column;
}
.live article .article-third .inner-second div h3 {
  font-size: 1.8rem;
  font-weight: lighter;
  padding-bottom: 1rem;
}
.live .all-features .features-first {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5rem;
}
.live .all-features .features-first a {
  text-decoration: none;
  color: #0000FF;
  font-size: 2rem;
}
.live .all-features .features-second {
  background-color: #FBFFA7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5rem;
}
.live .all-features .features-second h3 {
  font-size: 2rem;
  font-weight: lighter;
  padding-bottom: 0.5rem;
}
.live .all-features .features-second a {
  color: inherit;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
}/*# sourceMappingURL=live.css.map */