@import "variables";

.live {
    nav {
        display: flex;
        gap: 1rem;
        padding: 1rem 3rem;
        border-top: 2px solid $lightgray;
        a {
            text-decoration: none;
            color: inherit;
            &:last-child {
                color: $deepblue;
            }
        }
    }

    div {
        .header {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding-block: 8rem;
            h1 {
                font-size: 7rem;
                font-weight: lighter;
            }
            a {
                display: flex;
                gap: 1rem;
                align-items: center;
                font-size: 1.5rem;
                text-decoration: none;
                color: $deepblue;
            }
        }
        .header-image img {
            width: 100%;
        }
    }

    .try-live {
        padding: 6rem;
        background-color: $yellow;
        .try-live-header {
            display: flex;
            gap: 1rem;
            flex-direction: column;
            padding-bottom: 7rem;
            a {
                display: flex;
                align-items: center;
                font-size: 2rem;
                text-decoration: none;
                color: $deepblue;
            }
            span {
                font-size: 0.9rem;
            }
        }
        .try-live-features {
            h2 {
                padding-bottom: 2rem;
                font-weight: lighter;
                font-size: 2.5rem;
            }
            div {
                display: grid;
                grid-template-columns: auto auto auto;
                gap: 5px 2px;
                div {
                    img {
                        width: 100%;
                    }
                }
            }
        }
    }

    .perfect-take {
        display: flex;
        justify-content: center;
        align-items: center;
        div {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            h2 {
                padding-block: 3rem;
                font-size: 7rem;
                font-weight: lighter;
            }
            .perfect-take-header {
                display: flex;
                justify-content: center;
                align-items: center;
                a {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-decoration: none;
                    color: inherit;
                    figure {
                        width: 85%;
                        img {
                            width: 100%;
                        }
                        figcaption {
                            font-size: small;
                        }
                    }
                    
                }
            }
            .perfect-take-text {
                display: flex;
                flex-direction: row;
                div {
                    width: 50%;
                    h2 {
                        font-size: 2rem;
                    }
                }
            }
        }
    }
}