@import "variables";

.live {
    .live-nav {
        display: flex;
        gap: 1rem;
        padding: 1rem 3rem;
        border-top: 2px solid $lightgray;
        a {
            text-decoration: none;
            color: inherit;
            &:last-child {
                color: $deepblue;
            }
        }
    }

    div {
        .header {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding-block: 8rem;
            h1 {
                font-size: 7rem;
                font-weight: lighter;
            }
            a {
                display: flex;
                gap: 1rem;
                align-items: center;
                font-size: 1.5rem;
                text-decoration: none;
                color: $deepblue;
            }
        }
        .header-video {
            position: relative;
            figure {
                div video {
                    width: 100%;
                }
                figcaption {
                    position: absolute;
                    top: 10%;
                    left: 10%;
                    color: white;
                    font-size: 3.5rem;
                    width: 30%;
                    line-height: 150%;
                    span {
                        color: black;
                        background-color: white;
                        padding: 1rem;
                        border-radius: 5rem;
                    }
                }
            }
        }
    }

    .find-live {
        div {
            display: flex;
            flex-direction: column;
            .find-live-heading {
                display: flex;
                justify-content: center;
                align-items: center;
                h2 {
                    padding: 6rem;
                    font-size: 2.5rem;
                    font-weight: lighter;
                }
            }
            .find-live-video {
                display: flex;
                justify-content: center;
                align-items: center;
                a {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-decoration: none;
                    color: inherit;
                    figure {
                        width: 85%;
                        div {
                            position: relative;
                            img {
                                width: 100%;
                            }
                            span {
                                color: $deepblue;
                                position: absolute;
                                top: 50%;
                                left: 50%;
                                transform: translateY(-50%) translateX(-50%);
                            }
                        }
                        figcaption {
                            font-size: small;
                            padding: 0.5rem;
                        }
                    }
                    
                }
            }
            .find-live-link {
                padding: 6rem;
                .find-live-text {
                    h2 {
                        padding-bottom: 3rem;
                        font-size: 2.5rem;
                        font-weight: lighter;
                    }
                }
                .find-live-nav {
                    display: flex;
                    flex-direction: row;
                    gap: 1rem;
                    //font-size: 1.5rem;
                    nav {
                        display: flex;
                        gap: 1rem;
                        a {
                            text-decoration: none;
                            color: $deepblue;
                        }
                    }
                }
            }
        }
    }

    .ideas {
        background-color: $paleyellow;
        div {
            //display: flex;
            //flex-direction: column;
            .ideas-heading {
                h2 {
                    padding: 6rem;
                    font-size: 5rem;
                    font-weight: lighter;
                }
            }
            .ideas-video {
                display: flex;
                justify-content: center;
                align-items: center;
                a {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-decoration: none;
                    color: inherit;
                    figure {
                        width: 85%;
                        div {
                            position: relative;
                            img {
                                width: 100%;
                            }
                            span {
                                color: $deepblue;
                                position: absolute;
                                top: 50%;
                                left: 50%;
                                transform: translateY(-50%) translateX(-50%);
                            }
                        }
                        figcaption {
                            font-size: small;
                            padding: 0.5rem;
                        }
                    }
                    
                }
            }
            .ideas-text {
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 6rem;
                .live-options-features {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    div {
                        width: 45%;
                        h2 {
                            font-weight: lighter;
                            font-size: 2rem;
                        }
                        p {
                            padding-block: 1rem;
                            font-size: 1.1rem;
                        }
                    }
                }
            }
        }
    }

    .live-options {
        div {
            display: flex;
            flex-direction: column;
            .live-options-heading {
                display: flex;
                justify-content: center;
                align-items: center;
                h2 {
                    padding: 6rem;
                    font-size: 2.5rem;
                    font-weight: lighter;
                }
            }
            .live-options-video {
                display: flex;
                justify-content: center;
                align-items: center;
                a {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-decoration: none;
                    color: inherit;
                    figure {
                        width: 85%;
                        div {
                            position: relative;
                            img {
                                width: 100%;
                            }
                            span {
                                color: $deepblue;
                                position: absolute;
                                top: 50%;
                                left: 50%;
                                transform: translateY(-50%) translateX(-50%);
                            }
                        }
                        figcaption {
                            font-size: small;
                            padding: 0.5rem;
                        }
                    }
                    
                }
            }
            .live-options-text {
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 6rem;
                .live-options-features {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    div {
                        width: 45%;
                        h2 {
                            font-weight: lighter;
                            font-size: 2rem;
                        }
                        p {
                            padding-block: 1rem;
                            font-size: 1.1rem;
                        }
                    }
                }
            }
        }
    }

    .learn-more {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0 6rem;
        button {
            width: 100%;
            display: flex;
            gap: 0.5rem;
            justify-content: center;
            align-items: center;
            padding: 1rem;
            font-size: 1.5rem;
            color: $deepblue;
            background-color: transparent;
            border: 2px solid $deepblue;
        }
    }

    .learn-more-text {
        display: flex;
        padding: 6rem;
        justify-content: space-between;
        div {
            width: 45%;
            img {
                width: 100%;
            }
            div {
                width: 100%;
                h2 {
                    padding-block: 2rem;
                    font-weight: lighter;
                    font-size: 1.5rem;
                }
            }
        }
    }

    .experiment {
        padding: 6rem;
        background-color: $lightgreen;
        .experiment-heading h2 {
            font-size: 6.5rem;
            font-weight: lighter;
            width: 70%;
        }
    }

    .stage {
        padding-block: 6rem;
        .stage-heading h2 {
            padding: 6rem;
            font-size: 6.5rem;
            font-weight: lighter;
        }
        .stage-tempo {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .tempo-video {
                width: 60%;
                a {
                    text-decoration: none;
                    color: inherit;
                    img {
                        width: 100%;
                    }
                }
            }
            .tempo-text {
                width: 25%;
                h2 {
                    font-size: 2rem;
                    font-weight: lighter;
                    padding-block: 1rem;
                }
            }
        }
    }
}