@import "variables";

.nav-body {
    position: sticky;
    top: 0;
    z-index: 99;
    background-color: rgba(255, 255, 255, 0.941);
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3rem;
    user-select: none;
    .nav-first {
        display: flex;
        gap: 2rem;
        align-items: center;
        width: 70%;
        .navigation-logo img {
            width: 4rem;
        }
        .navigation-links {
            display: flex;
            gap: 2rem;
            div {
                display: flex;
                gap: 2rem;
                a {
                    text-decoration: none;
                    color: black;
                    &:active,
                    &:focus {
                        color: $orange;
                    }
                }
            }
            span {
                display: flex;
                align-items: center;
                gap: 0.5rem;
                cursor: pointer;
            }
        }
    }

    .nav-second {
        display: flex;
        gap: 2rem;
        a {
            text-decoration: none;
            color: inherit;
            &:first-child {
                color: $deepblue;
            }
        }
    }
}

.more {
    padding: 3rem;
    user-select: none;
    h2 {
        font-size: 1.8rem;
        font-weight: lighter;
        padding-bottom: 1rem;
    }
    .first {
        padding-bottom: 2rem;
        .first-links {
            display: flex;
            gap: 2rem;
            a {
                text-decoration: none;
                color: inherit;
                font-size: 1.1rem;
            }
        }
    }
    .second {
        h3 {
            font-weight: lighter;
            font-size: 1.2rem;
        }
        .second-links {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            gap: 2rem;
            font-size: 1.1rem;
            a {
                text-decoration: none;
                color: inherit;
            }
        }
    }
}