@import "variables";

.note {
  header {
    .header-video {
      position: relative;
      figure {
        div video {
          width: 100%;
        }
        figcaption {
          position: absolute;
          top: 10%;
          left: 10%;
          color: white;
          width: 30%;
          h2 {
            color: $yellow;
            font-size: 7rem;
            font-weight: lighter;
          }
          p {
            font-size: 1.5rem;
            padding-bottom: 1rem;
          }
        }
      }
    }
  }

  section.section1 {
    display: flex;
    position: relative;
    //top: 20rem;
    .section1-text {
      width: 40%;
      background-color: $lightgreen;
      display: flex;
      flex-direction: column;
      gap: 2rem;
      justify-content: center;
      padding: 3rem;
      //float: right;
      //position: absolute;
      // bottom: 0;
      // left: 0;
      h2 {
        font-size: 3rem;
        font-weight: lighter;
      }
    }
    .section1-video {
      //position: absolute;
      //float: left;
      //right: 0;
      width: 60%;
      .ideas3-video {
        a {
          text-decoration: none;
          color: inherit;
          figure {
            position: relative;
            div {
              position: relative;
              img {
                width: 100%;
              }
              span {
                color: $deepblue;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translateY(-50%) translateX(-50%);
              }
            }
            figcaption {
              background-color: $lightgreen;
              width: 50%;
              padding: 0 0.5rem;
              position: absolute;
              bottom: 0;
              right: 0;
              font-size: 0.8rem;
            }
          }
        }
      }
    }
  }

  section.section2 {
    .ideas2 {
      padding: 3rem 0;
      display: flex;
      justify-content: center;
      align-items: center;
      div {
        width: 80%;
        display: flex;
        //justify-content: space-between;
        gap: 10%;
        .ideas2-image {
          width: 60%;
          img {
            width: 100%;
          }
        }
        .ideas2-text {
          width: 50%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          h2 {
            font-size: 1.5rem;
            font-weight: lighter;
          }
        }
      }
    }
  }

  section.section3 {
    padding: 7rem;
    .section3-image {
      figure {
        position: relative;
        img {
          width: 100%;
        }
        figcaption {
          position: absolute;
          bottom: 0;
          right: 0;
          background-color: $lightgreen;
          padding: 0 0.5rem;
          width: 30%;
          font-size: 0.8rem;
        }
      }
    }
    .section3-subtext {
        display: flex;
        gap: 7rem;
        padding-top: 3rem;
        div {
            width: 100%;
            h2 {
                font-size: 2rem;
                font-weight: lighter;
                padding-bottom: 1rem;
            }
            p {
                font-size: large;
            }
        }
    }
  }

  aside {
    padding: 7rem;
    background-color: $lightgray;
    .help {
      h2 {
        font-size: 3rem;
        font-weight: lighter;
        padding-bottom: 2rem;
      }
      p {
        width: 50%;
        font-size: 1.1rem;
        font-weight: lighter;
      }
    }
    .watch {
        padding-bottom: 2rem;
      a {
        text-decoration: none;
        figure {
          display: flex;
          align-items: center;
          gap: 2rem;
          position: relative;
          div {
            width: 20%;
            position: relative;
            img {
              width: 100%;
            }
            span {
              color: $deepblue;
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translateY(-50%) translateX(-50%);
            }
          }
          figcaption {
            font-size: 1.5rem;
            color: $deepblue;
          }
        }
      }
    }
    .faq {
        border-top: 2px solid black;
        cursor: default;
        .faq-title {
            display: flex;
            gap: 1rem;
            align-items: center;
            padding-block: 2rem;
            h2{
                font-weight: lighter;
                font-size: 1.65rem;
            }
        }
        .faq-content {
            padding-bottom: 2rem;
            display: flex;
            flex-direction: column;
            gap: 2rem;
            font-size: larger;
            width: 65%;
            // .content {
            //     padding-bottom: 2rem;
            // }
            // .add {
            //     padding-bottom: 2rem;
            // }
        }
    }
  }
}
