.push .push-nav {
  display: flex;
  gap: 1rem;
  padding: 1rem 3rem;
  border-top: 2px solid #d3d3d3;
}
.push .push-nav a {
  text-decoration: none;
  color: inherit;
}
.push .push-nav a:last-child {
  color: #0000ff;
}
.push header .header-video {
  position: relative;
}
.push header .header-video figure div video {
  width: 100%;
}
.push header .header-video figure figcaption {
  position: absolute;
  top: 10%;
  left: 10%;
  color: white;
}
.push header .header-video figure figcaption h2 {
  color: #b6ffc0;
  font-size: 7rem;
  font-weight: lighter;
}
.push header .header-video figure figcaption p {
  font-size: 1.5rem;
  padding-bottom: 1rem;
}
.push header .header-video figure figcaption button {
  border: none;
  padding: 0.5rem 2rem;
  font-size: 1.2rem;
  color: white;
  background-color: #0000ff;
}
.push .focus {
  background-color: black;
  color: white;
  padding: 7rem;
}
.push .focus .focus-header {
  padding-bottom: 2rem;
}
.push .focus .focus-header h2 {
  font-size: 5rem;
  font-weight: lighter;
}
.push .focus .focus-header p {
  width: 55%;
  font-size: 1.2rem;
}
.push .focus .focus2 {
  padding: 3rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.push .focus .focus2 div {
  width: 70%;
  display: flex;
  gap: 10%;
}
.push .focus .focus2 div .focus2-image {
  width: 60%;
}
.push .focus .focus2 div .focus2-image video {
  width: 100%;
}
.push .focus .focus2 div .focus2-text {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.push .focus .focus2 div .focus2-text h2 {
  font-size: 1.5rem;
  font-weight: lighter;
}
.push .focus .focus3 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.push .focus .focus3 div {
  position: relative;
  width: 90%;
}
.push .focus .focus3 div a {
  text-decoration: none;
  color: #0000ff;
}
.push .focus .focus3 div a img {
  width: 100%;
}
.push .focus .focus3 div a span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}
.push .expressive {
  background-color: #d5d3ff;
  padding: 7rem;
}
.push .expressive .expressive-first h2 {
  font-size: 5rem;
  font-weight: lighter;
  padding-bottom: 3rem;
}
.push .expressive .expressive-first p {
  width: 55%;
  font-size: 1.2rem;
}
.push .expressive .expressive-second {
  display: grid;
  grid-template-columns: 40% 60%;
}
.push .setup .setup-first {
  padding: 7rem;
}
.push .setup .setup-first h2 {
  font-size: 5rem;
  font-weight: lighter;
  padding-bottom: 3rem;
}
.push .setup .setup-first p {
  width: 55%;
  font-size: 1.2rem;
}
.push .setup .setup-video video {
  width: 100%;
}
.push .intuitive .intuitive-first {
  padding: 7rem;
}
.push .intuitive .intuitive-first h2 {
  font-size: 5rem;
  font-weight: lighter;
  padding-bottom: 3rem;
}
.push .intuitive .intuitive-first p {
  width: 55%;
  font-size: 1.2rem;
  padding-bottom: 2rem;
}
.push .intuitive .intuitive-first a {
  font-size: 1.2rem;
  text-decoration: none;
  color: #0000ff;
}
.push .configurations {
  background-color: #d5d3ff;
}
.push .configurations .configurations-first {
  padding: 7rem;
}
.push .configurations .configurations-first h2 {
  font-size: 5rem;
  font-weight: lighter;
  padding-bottom: 3rem;
}
.push .configurations .configurations-first p {
  width: 55%;
  font-size: 1.2rem;
  padding-bottom: 2rem;
}
.push .configurations .configurations-first a {
  font-size: 1.2rem;
  text-decoration: none;
  color: #0000ff;
}
.push .configurations .configurations-shop {
  padding: 7rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 6rem;
}
.push .configurations .configurations-shop div {
  display: flex;
  flex-direction: column;
}
.push .configurations .configurations-shop div img {
  width: 100%;
}
.push .configurations .configurations-shop div h2 {
  font-size: 3rem;
  font-weight: lighter;
}
.push .configurations .configurations-shop div .shop-first {
  border-bottom: 2px solid black;
  padding-block: 1.5rem;
}
.push .configurations .configurations-shop div .shop-first h3 {
  font-weight: lighter;
  font-size: 1.5rem;
  padding-bottom: 1rem;
}
.push .configurations .configurations-shop div .shop-first p {
  padding-bottom: 0.5rem;
  font-size: 1.09rem;
}
.push .configurations .configurations-shop div .shop-second {
  padding-block: 1.5rem;
}
.push .configurations .configurations-shop div .shop-second p {
  padding-bottom: 0.5rem;
  font-size: 1.09rem;
  font-weight: lighter;
}
.push .configurations .configurations-shop div .buy-now {
  width: -moz-fit-content;
  width: fit-content;
}
.push .configurations .configurations-shop div .buy-now h2 {
  font-size: 1.5rem;
  padding-bottom: 1rem;
}
.push .configurations .configurations-shop div .buy-now button {
  border: none;
  color: white;
  background-color: #0000ff;
  font-size: 1.1rem;
  padding: 1rem 2rem;
}/*# sourceMappingURL=push.css.map */